:root {
    --color-green-700: hsl(120, 24%, 25%);
    --color-green-500: hsl(120, 23%, 40%);
    --color-green-300: hsl(120, 23%, 55%);
    --color-blue--500: hsl(180, 23%, 40%);
    --color-white-700: hsl(200, 29%, 88%);
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
    background-color: hsl(0, 0%, 96%);
    color: hsl(0, 2%, 12%);
}

span {
    font-size: 12px;
}

/* .code {
    display: block;
    white-space: pre;
    color: hsl(0, 0%, 0%);
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    font-size: 0.7em;
    margin-top: 1em;
    margin-bottom: 1em;
} */

table {
    max-width: 1000px;
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;

}

th {
    color: hsl(300, 100%, 25%);
    border: 1px solid gray;
}

td {
    color: hsl(265, 51%, 45%);
    border: 1px solid gray;
}